.square {
    width: 50px;
    height: 50px;
    background-color: #c4c4c4;
    margin: 1px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    display: inline-block;

}

.square.white {
    background-color: orange;
}
